body {
    background-color: pink;
}
nav{
    background-color: pink;
    text-align: center;
    padding: 0.5%;
    margin-bottom: 5%;
    color: rgb(88, 82, 83);
}
.content{
    display: flex;
    gap: 3%;
}
aside{
    width: 30%;
    text-align: justify;
    padding: 0.5%;
    margin-bottom: 5%;
}
main{
    width: 70%;
    background-color: rgb(169, 121, 129);
    color: aliceblue;
    text-align: left;
    padding: 0.5%;
    margin-bottom: 5%;
}
footer{
    background-color: rgb(177, 177, 177);
    text-align: center;
    padding: 0.5%;
    margin-bottom: 5%;
}